{% extends 'base.html' %}

{% block content %}
   
<div class ="container">
    <div class = "row">
            <p class="h3 my-2">{{entry.user.first_name}}'s Journal</p>
    </div>
    
    <form method="POST">
        {{form.csrf_token}}
        <div class = "row">
            <p class = "lead mb-0">Edit Your Entry:</p>
        </div>
        <div class = "row">
            <div class = "col-3">
                <p>
                    {{form.date.label}} 
                    {{form.date(class_="form-control", value = entry.date)}}  
                </p>
            </div>
            <div class = "col-9">
                <p>
                    {{form.line.label}} 
                    {{form.line(class_="form-control", value=entry.line)}}  
                </p>
            </div>
        </div>
        <button type = "submit" class = "btn btn-success">Save</button>
        <a href="/entries/{{entry.id}}/delete" class = "btn btn-dark">Delete</a>
        <div>
            {% for field in form
                if field.widget.input_type != 'hidden' %}

                {% for error in field.errors %}
                {{error}}
                {% endfor %}
            {% endfor %}
        </div>      
    </form>

</div>

{% endblock %}